<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.dao.ProjectviewMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.pojo.Projectview" >
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="invest_date" property="investDate" jdbcType="DATE" />
    <result column="invest_amount" property="investAmount" jdbcType="DOUBLE" />
    <result column="invest_fee" property="investFee" jdbcType="DOUBLE" />
    <result column="user2_id" property="user2Id" jdbcType="INTEGER" />
    <result column="user_fee1" property="userFee1" jdbcType="DOUBLE" />
    <result column="user_fee2" property="userFee2" jdbcType="DOUBLE" />
    <result column="user2_fee1" property="user2Fee1" jdbcType="DOUBLE" />
    <result column="user2_fee2" property="user2Fee2" jdbcType="DOUBLE" />
    <result column="project_memo" property="projectMemo" jdbcType="INTEGER" />
    <result column="collect" property="collect" jdbcType="VARCHAR" />
    <result column="projectName" property="projectname" jdbcType="VARCHAR" />
    <result column="person_phone" property="personPhone" jdbcType="VARCHAR" />
    <result column="person_phone2" property="personPhone2" jdbcType="VARCHAR" />
    <result column="person_company" property="personCompany" jdbcType="VARCHAR" />
    <result column="identification" property="identification" jdbcType="VARCHAR" />
    <result column="home_address" property="homeAddress" jdbcType="VARCHAR" />
    <result column="assert_volumn" property="assertVolumn" jdbcType="INTEGER" />
    <result column="person_positoin" property="personPositoin" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.springboot.pojo.Projectview" extends="BaseResultMap" >
    <result column="cumemo" property="cumemo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    cumemo
  </sql>
  <insert id="insert" parameterType="com.springboot.pojo.Projectview" >
    insert into projectview (project_id, user_id, customer_id, 
      invest_date, invest_amount, invest_fee, 
      user2_id, user_fee1, user_fee2, 
      user2_fee1, user2_fee2, project_memo, 
      collect, projectName, person_phone, 
      person_phone2, person_company, identification, 
      home_address, assert_volumn, person_positoin, 
      cumemo)
    values (#{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{investDate,jdbcType=DATE}, #{investAmount,jdbcType=DOUBLE}, #{investFee,jdbcType=DOUBLE}, 
      #{user2Id,jdbcType=INTEGER}, #{userFee1,jdbcType=DOUBLE}, #{userFee2,jdbcType=DOUBLE}, 
      #{user2Fee1,jdbcType=DOUBLE}, #{user2Fee2,jdbcType=DOUBLE}, #{projectMemo,jdbcType=INTEGER}, 
      #{collect,jdbcType=VARCHAR}, #{projectname,jdbcType=VARCHAR}, #{personPhone,jdbcType=VARCHAR}, 
      #{personPhone2,jdbcType=VARCHAR}, #{personCompany,jdbcType=VARCHAR}, #{identification,jdbcType=VARCHAR}, 
      #{homeAddress,jdbcType=VARCHAR}, #{assertVolumn,jdbcType=INTEGER}, #{personPositoin,jdbcType=VARCHAR}, 
      #{cumemo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.pojo.Projectview" >
    insert into projectview
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="investDate != null" >
        invest_date,
      </if>
      <if test="investAmount != null" >
        invest_amount,
      </if>
      <if test="investFee != null" >
        invest_fee,
      </if>
      <if test="user2Id != null" >
        user2_id,
      </if>
      <if test="userFee1 != null" >
        user_fee1,
      </if>
      <if test="userFee2 != null" >
        user_fee2,
      </if>
      <if test="user2Fee1 != null" >
        user2_fee1,
      </if>
      <if test="user2Fee2 != null" >
        user2_fee2,
      </if>
      <if test="projectMemo != null" >
        project_memo,
      </if>
      <if test="collect != null" >
        collect,
      </if>
      <if test="projectname != null" >
        projectName,
      </if>
      <if test="personPhone != null" >
        person_phone,
      </if>
      <if test="personPhone2 != null" >
        person_phone2,
      </if>
      <if test="personCompany != null" >
        person_company,
      </if>
      <if test="identification != null" >
        identification,
      </if>
      <if test="homeAddress != null" >
        home_address,
      </if>
      <if test="assertVolumn != null" >
        assert_volumn,
      </if>
      <if test="personPositoin != null" >
        person_positoin,
      </if>
      <if test="cumemo != null" >
        cumemo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="investDate != null" >
        #{investDate,jdbcType=DATE},
      </if>
      <if test="investAmount != null" >
        #{investAmount,jdbcType=DOUBLE},
      </if>
      <if test="investFee != null" >
        #{investFee,jdbcType=DOUBLE},
      </if>
      <if test="user2Id != null" >
        #{user2Id,jdbcType=INTEGER},
      </if>
      <if test="userFee1 != null" >
        #{userFee1,jdbcType=DOUBLE},
      </if>
      <if test="userFee2 != null" >
        #{userFee2,jdbcType=DOUBLE},
      </if>
      <if test="user2Fee1 != null" >
        #{user2Fee1,jdbcType=DOUBLE},
      </if>
      <if test="user2Fee2 != null" >
        #{user2Fee2,jdbcType=DOUBLE},
      </if>
      <if test="projectMemo != null" >
        #{projectMemo,jdbcType=INTEGER},
      </if>
      <if test="collect != null" >
        #{collect,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="personPhone != null" >
        #{personPhone,jdbcType=VARCHAR},
      </if>
      <if test="personPhone2 != null" >
        #{personPhone2,jdbcType=VARCHAR},
      </if>
      <if test="personCompany != null" >
        #{personCompany,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="assertVolumn != null" >
        #{assertVolumn,jdbcType=INTEGER},
      </if>
      <if test="personPositoin != null" >
        #{personPositoin,jdbcType=VARCHAR},
      </if>
      <if test="cumemo != null" >
        #{cumemo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>